In [64]:
table_product = """CREATE TABLE Product (
                      part TEXT PRIMARY KEY, 
                      part_name TEXT NOT NULL,
                      weight REAL
                      )"""

table_cost = """CREATE TABLE Cost (
                  part TEXT,
                  cost_date DATETIME NOT NULL,
                  cost REAl NOT NULL,
                  FOREIGN KEY (part) REFERENCES Product (part)
                  )"""

table_stock = """CREATE TABLE Stock (
                  part TEXT,
                  operation_date DATETIME NOT NULL,
                  qty INTEGER NOT NULL,
                  cost REAL  NOT NULL,
                  operation_type TEXT NOT NULL,
                  FOREIGN KEY (part) REFERENCES Product (part)
                  )"""

In [65]:
# створюємо таблиці в БД
import sqlite3
conn = sqlite3.connect('store.db')

curs = conn.cursor()

curs.execute(table_product)
curs.execute(table_cost)
curs.execute(table_stock)

conn.close()

In [66]:
# вносимо інформацію в таблицю Prodcut

conn = sqlite3.connect('store.db')
curs = conn.cursor()
sql_text = """INSERT INTO Product VALUES(?, ?, ?)"""

part = input('Введіть артикул товару')
part_name = input('Введіть назву товару')
weight = float(input('Введіть вагу товару'))

curs.execute(sql_text, (part, part_name, weight))
conn.commit()

conn.close()

Введіть артикул товаруre509672
Введіть назву товаруFilter
Введіть вагу товару300

In [67]:
conn = sqlite3.connect('store.db')
curs = conn.cursor()

sql_text = "SELECT * FROM Product"

curs.execute(sql_text)

for el in curs.fetchall():
    print(el)


conn.close()

('re509672', 'Filter', 300.0)

In [69]:
#записуємо ціну
import datetime

conn = sqlite3.connect('store.db')
curs = conn.cursor()
sql_text = """INSERT INTO Cost VALUES(?, ?, ?)"""

part = input('Введіть артикул товару')
date = datetime.datetime.now()
cost = float(input('Введіть ціну товару'))

curs.execute(sql_text, (part, date, cost))
conn.commit()

conn.close()

Введіть артикул товаруre509672
Введіть ціну товару400

In [72]:
#записуємо прихід\розхід

import datetime

conn = sqlite3.connect('store.db')
curs = conn.cursor()


part = input('Введіть артикул товару')
date = datetime.datetime.now()
qty = int(input('Введіть кількість товару'))
operation_type = input('Введіть тип операції: 1-прихід || 2-розхід')

curs.execute("SELECT cost, cost_date FROM Cost WHERE part = (?) ORDER BY cost_date ", (part,) )

cost = curs.fetchall()[-1][0]


sql_text = """INSERT INTO Stock VALUES(?, ?, ?, ?, ?)"""
curs.execute(sql_text, (part, date, qty, cost, operation_type))
conn.commit()

conn.close()

Введіть артикул товаруre509672
Введіть кількість товару1
Введіть тип операції: 1-прихід || 2-розхід2

In [18]:
import requests 
from bs4 import BeautifulSoup
r = requests.get('https://smallpacking.agrosem.ua/shop/')
soup = BeautifulSoup(r.text, 'html.parser')

all_products = {}

def get_soup(href):
    r = requests.get(href)
    soup = BeautifulSoup(r.text, 'html.parser')
    return soup

def product_informations(base, href):
    p = get_html_text(href)
    sku = p.find('span', class_='sku')
    print(sku)
    
    
def all_products_page(page_text):
    l = []
    for el in soup.find_all('div', class_="product-from-category-container"):
        l.append(el.find('a').get('href'))
    return l
        
def all_page(href):
    p = get_html_text(href)
    list_with_product = all_products_page(p)
    print(list_with_product)
    
all_page('https://smallpacking.agrosem.ua/shop/')

['https://smallpacking.agrosem.ua/product/dlya-vinogradu/', 'https://smallpacking.agrosem.ua/product/dlya-vichnozelenih-derev-ta-kushhiv/', 'https://smallpacking.agrosem.ua/product/dlya-vichnozelenih-derev-ta-kushhiv-3/', 'https://smallpacking.agrosem.ua/product/dlya-vichnozelenih-derev-ta-kushhiv-4/', 'https://smallpacking.agrosem.ua/product/dlya-gazonu-5/', 'https://smallpacking.agrosem.ua/product/dlya-gazonu-6/', 'https://smallpacking.agrosem.ua/product/dlya-gazonu/', 'https://smallpacking.agrosem.ua/product/dlya-dekorativnih-listovih-3/', 'https://smallpacking.agrosem.ua/product/dlya-poluniczi/', 'https://smallpacking.agrosem.ua/product/dlya-dekorativnih-listovih/', 'https://smallpacking.agrosem.ua/product/dlya-ovochiv-na-vidkritomu-grunti/', 'https://smallpacking.agrosem.ua/product/dlya-ovochiv-na-vidkritomu-grunti-2/', 'https://smallpacking.agrosem.ua/product/dlya-rozsadi/', 'https://smallpacking.agrosem.ua/product/dlya-teplichnih-ovochiv/', 'https://smallpacking.agrosem.ua/product/dlya-teplichnih-ovochiv-2/', 'https://smallpacking.agrosem.ua/product/dlya-troyand-ta-inshih-kvitiv/']

In [35]:
import requests 
from bs4 import BeautifulSoup
r = requests.get('https://smallpacking.agrosem.ua/shop/')
soup = BeautifulSoup(r.text, 'html.parser')

all_products = {}

# def get_soup(href):
#     r = requests.get(href)
#     soup = BeautifulSoup(r.text, 'html.parser')
#     return soup
for i in range(1, 4):
    r = requests.get(f'https://smallpacking.agrosem.ua/shop/page/{i}/')
    soup = BeautifulSoup(r.text, 'html.parser')
    for el in soup.find_all('div', class_="product-from-category-container"):
        href = el.find('a').get('href')
        r = requests.get(href)
        soup = BeautifulSoup(r.text, 'html.parser')
        sku = soup.find('span', class_='sku').text.strip('SKU: ')
        name = soup.find('div', class_="atributes-description").find('h2').text
        price = float(soup.find('span', class_='regular-price').text.rstrip(' грн'))
        p = soup.find('span', class_="type-packaging-name").text
        if p == 'Коробка':
            weight = 1
        elif p == 'Мішок':
            weight = 3
        elif p == 'Відро':
            weight = 10
        else:
            weight = None

        all_products[sku] = {'name':name, 'price':price, 'weight':weight}
        
        
all_products

{'797756': {'name': 'Добриво для винограду', 'price': 150.0, 'weight': 1},
 '8362626': {'name': 'Добриво для вічнозелених дерев та кущів',
  'price': 150.0,
  'weight': 1},
 '4738184': {'name': 'Добриво для вічнозелених дерев та кущів',
  'price': 360.0,
  'weight': 3},
 '5218': {'name': 'Добриво для вічнозелених дерев та кущів',
  'price': 995.0,
  'weight': 10},
 '7143174': {'name': 'Добриво для газону', 'price': 360.0, 'weight': 3},
 '375738': {'name': 'Добриво для газону', 'price': 995.0, 'weight': 10},
 '789868': {'name': 'Добриво для газону', 'price': 150.0, 'weight': 1},
 '78747': {'name': 'Добриво для декоративних листових',
  'price': 360.0,
  'weight': 3},
 '3593': {'name': 'Добриво для полуниці', 'price': 150.0, 'weight': 1},
 '33486': {'name': 'Добриво для декоративних листових',
  'price': 150.0,
  'weight': 1},
 '198742': {'name': 'Добриво для овочів', 'price': 360.0, 'weight': 3},
 '88255': {'name': 'Добриво для овочів', 'price': 150.0, 'weight': 1},
 '68183': {'name': 'Добриво для розсади', 'price': 150.0, 'weight': 1},
 '51561': {'name': 'Добриво для тепличних овочів',
  'price': 150.0,
  'weight': 1},
 '5656841': {'name': 'Добриво для тепличних овочів',
  'price': 360.0,
  'weight': 3},
 '2217672': {'name': 'Добриво для троянд', 'price': 150.0, 'weight': 1},
 '439226': {'name': 'Добриво для фруктових та горіхових дерев',
  'price': 360.0,
  'weight': 3},
 '3177412': {'name': 'Добриво для фруктових та горіхових дерев',
  'price': 150.0,
  'weight': 1},
 '1297': {'name': 'Добриво для ягідних чагарників',
  'price': 360.0,
  'weight': 3},
 '91897': {'name': 'Добриво для ягідних чагарників',
  'price': 150.0,
  'weight': 1},
 '61169': {'name': 'Добриво універсальне грунтове',
  'price': 150.0,
  'weight': 1},
 '6651824': {'name': 'Добриво універсальне грунтове',
  'price': 360.0,
  'weight': 3},
 '5227876': {'name': 'Добриво універсальне грунтове',
  'price': 995.0,
  'weight': 10},
 '32237': {'name': 'Добриво для декоративних листових',
  'price': 360.0,
  'weight': 3},
 '4165215': {'name': 'Добриво для вічнозелених дерев та кущів',
  'price': 995.0,
  'weight': 10},
 '682645': {'name': 'Добриво універсальне грунтове',
  'price': 360.0,
  'weight': 3},
 '7435': {'name': 'Добриво універсальне грунтове',
  'price': 150.0,
  'weight': 1},
 '9354141': {'name': 'Добриво для газону', 'price': 360.0, 'weight': 3},
 '1955': {'name': 'Добриво для вічнозелених дерев та кущів',
  'price': 150.0,
  'weight': 1},
 '455799': {'name': 'Добриво для газону', 'price': 150.0, 'weight': 1},
 '991645': {'name': 'Добриво для декоративних листових',
  'price': 150.0,
  'weight': 1},
 '726319': {'name': 'Добриво для вічнозелених дерев та кущів',
  'price': 360.0,
  'weight': 3},
 '16762': {'name': 'Добриво для газону', 'price': 995.0, 'weight': 10},
 '17477': {'name': 'Добриво універсальне грунтове',
  'price': 995.0,
  'weight': 10}}

In [36]:
import sqlite3 
conn = sqlite3.connect('store.db')
curs = conn.cursor()
curs.execute('DELETE FROM Product')

sql_text = """INSERT INTO Product VALUES(?, ?, ?)"""


for k,v in all_products.items():
    curs.execute(sql_text, (k, v['name'], v['weight']))
    conn.commit()

conn.close()

In [38]:
import sqlite3 
conn = sqlite3.connect('store.db')
curs = conn.cursor()
curs.execute('SELECT * FROM Product')

for el in curs.fetchall():
    print(el)

conn.close()

('797756', 'Добриво для винограду', 1.0)
('8362626', 'Добриво для вічнозелених дерев та кущів', 1.0)
('4738184', 'Добриво для вічнозелених дерев та кущів', 3.0)
('5218', 'Добриво для вічнозелених дерев та кущів', 10.0)
('7143174', 'Добриво для газону', 3.0)
('375738', 'Добриво для газону', 10.0)
('789868', 'Добриво для газону', 1.0)
('78747', 'Добриво для декоративних листових', 3.0)
('3593', 'Добриво для полуниці', 1.0)
('33486', 'Добриво для декоративних листових', 1.0)
('198742', 'Добриво для овочів', 3.0)
('88255', 'Добриво для овочів', 1.0)
('68183', 'Добриво для розсади', 1.0)
('51561', 'Добриво для тепличних овочів', 1.0)
('5656841', 'Добриво для тепличних овочів', 3.0)
('2217672', 'Добриво для троянд', 1.0)
('439226', 'Добриво для фруктових та горіхових дерев', 3.0)
('3177412', 'Добриво для фруктових та горіхових дерев', 1.0)
('1297', 'Добриво для ягідних чагарників', 3.0)
('91897', 'Добриво для ягідних чагарників', 1.0)
('61169', 'Добриво універсальне грунтове', 1.0)
('6651824', 'Добриво універсальне грунтове', 3.0)
('5227876', 'Добриво універсальне грунтове', 10.0)
('32237', 'Добриво для декоративних листових', 3.0)
('4165215', 'Добриво для вічнозелених дерев та кущів', 10.0)
('682645', 'Добриво універсальне грунтове', 3.0)
('7435', 'Добриво універсальне грунтове', 1.0)
('9354141', 'Добриво для газону', 3.0)
('1955', 'Добриво для вічнозелених дерев та кущів', 1.0)
('455799', 'Добриво для газону', 1.0)
('991645', 'Добриво для декоративних листових', 1.0)
('726319', 'Добриво для вічнозелених дерев та кущів', 3.0)
('16762', 'Добриво для газону', 10.0)
('17477', 'Добриво універсальне грунтове', 10.0)

In [42]:
import sqlite3 
from datetime import datetime, timedelta
import random
conn = sqlite3.connect('store.db')
curs = conn.cursor()


sql_text = """INSERT INTO Cost VALUES(?, ?, ?)"""


for k,v in all_products.items():
    curs.execute(sql_text, (k, datetime.now() + timedelta(days=random.randrange(100)), v['price']))
    conn.commit()

conn.close()

In [ ]:
 """CREATE TABLE Stock (
                  part TEXT,
                  operation_date DATETIME NOT NULL,
                  qty INTEGER NOT NULL,
                  cost REAL  NOT NULL,
                  operation_type TEXT NOT NULL,
                  FOREIGN KEY (part) REFERENCES Product (part)
                  )"""

In [45]:
import sqlite3 
from datetime import datetime, timedelta
import random
conn = sqlite3.connect('store.db')
curs = conn.cursor()


sql_text = """INSERT INTO Stock VALUES(?, ?, ?, ?, ?)"""

def product_cost(part):
    curs.execute("SELECT cost, cost_date FROM Cost WHERE part = (?) ORDER BY cost_date ", (part,) )
    cost = curs.fetchall()[-1][0]
    return cost

for k in all_products:
    for i in range(random.randrange(10)):
        curs.execute(sql_text, (k 
                                ,datetime.now() + timedelta(days=random.randrange(50))
                               , random.randrange(10, 20)
                               , product_cost(k)
                               , 'Розхід'))
        conn.commit()

conn.close()

In [6]:
import sqlite3

def result(sql_text):
    conn = sqlite3.connect('store.db')
    curs = conn.cursor()
    curs.execute(sql_text)

    for row in curs.fetchall():
        print(row)

    conn.close()

In [9]:
script_1 = """
SELECT *
FROM Stock
LIMIT 10
"""
result(script_1)

('797756', '2021-01-06 21:08:38.403122', 187, 150.0, 'Прихід')
('797756', '2020-12-14 21:08:38.419080', 180, 150.0, 'Прихід')
('797756', '2020-12-20 21:08:38.429372', 186, 150.0, 'Прихід')
('797756', '2021-01-15 21:08:38.439421', 121, 150.0, 'Прихід')
('797756', '2020-12-17 21:08:38.450331', 176, 150.0, 'Прихід')
('797756', '2020-12-19 21:08:38.458812', 138, 150.0, 'Прихід')
('797756', '2021-01-08 21:08:38.467777', 152, 150.0, 'Прихід')
('797756', '2021-01-01 21:08:38.476758', 160, 150.0, 'Прихід')
('797756', '2021-01-09 21:08:38.485785', 199, 150.0, 'Прихід')
('8362626', '2020-12-08 21:08:38.494950', 147, 150.0, 'Прихід')

In [14]:
script_2 = """
SELECT Part as p, Qty as q
FROM STOCK
LIMIT 10
"""
result(script_2)

('797756', 187)
('797756', 180)
('797756', 186)
('797756', 121)
('797756', 176)
('797756', 138)
('797756', 152)
('797756', 160)
('797756', 199)
('8362626', 147)

In [15]:
script_3 = """
SELECT *
FROM STOCK
WHERE Part = '8362626'
"""
result(script_3)

('8362626', '2020-12-08 21:08:38.494950', 147, 150.0, 'Прихід')
('8362626', '2020-12-23 21:08:38.503847', 168, 150.0, 'Прихід')
('8362626', '2020-12-22 21:08:38.513941', 160, 150.0, 'Прихід')
('8362626', '2020-12-16 21:08:38.523009', 106, 150.0, 'Прихід')
('8362626', '2020-12-30 21:08:38.532171', 176, 150.0, 'Прихід')
('8362626', '2021-01-06 21:08:38.541564', 123, 150.0, 'Прихід')
('8362626', '2021-01-26 21:08:38.550416', 192, 150.0, 'Прихід')
('8362626', '2021-01-21 21:09:16.925275', 15, 150.0, 'Розхід')
('8362626', '2021-01-01 21:09:16.934318', 14, 150.0, 'Розхід')
('8362626', '2020-12-15 21:09:16.944245', 17, 150.0, 'Розхід')
('8362626', '2021-01-02 21:09:16.953432', 16, 150.0, 'Розхід')
('8362626', '2021-01-26 21:09:16.963405', 15, 150.0, 'Розхід')

In [17]:
script_4 = """
SELECT *
FROM STOCK
WHERE operation_type = 'Прихід'
LIMIT 10
"""
result(script_4)

('797756', '2021-01-06 21:08:38.403122', 187, 150.0, 'Прихід')
('797756', '2020-12-14 21:08:38.419080', 180, 150.0, 'Прихід')
('797756', '2020-12-20 21:08:38.429372', 186, 150.0, 'Прихід')
('797756', '2021-01-15 21:08:38.439421', 121, 150.0, 'Прихід')
('797756', '2020-12-17 21:08:38.450331', 176, 150.0, 'Прихід')
('797756', '2020-12-19 21:08:38.458812', 138, 150.0, 'Прихід')
('797756', '2021-01-08 21:08:38.467777', 152, 150.0, 'Прихід')
('797756', '2021-01-01 21:08:38.476758', 160, 150.0, 'Прихід')
('797756', '2021-01-09 21:08:38.485785', 199, 150.0, 'Прихід')
('8362626', '2020-12-08 21:08:38.494950', 147, 150.0, 'Прихід')

In [21]:
script_6 = """
SELECT SUM(cost*qty)
FROM STOCK
"""
result(script_6)

(10916720.0,)

In [25]:
script_7 = """
SELECT DISTINCT Part
FROM STOCK
"""
result(script_7)

('797756',)
('8362626',)
('4738184',)
('5218',)
('7143174',)
('375738',)
('789868',)
('78747',)
('3593',)
('33486',)
('198742',)
('88255',)
('68183',)
('51561',)
('2217672',)
('439226',)
('3177412',)
('1297',)
('91897',)
('61169',)
('6651824',)
('5227876',)
('32237',)
('4165215',)
('682645',)
('7435',)
('9354141',)
('1955',)
('455799',)
('991645',)
('726319',)
('16762',)
('5656841',)

In [29]:
script_8 = """
SELECT *
FROM Stock
WHERE qty = (SELECT MAX(qty)
             FROM Stock
             WHERE operation_type = 'Прихід')
"""
result(script_8)

('797756', '2021-01-09 21:08:38.485785', 199, 150.0, 'Прихід')
('375738', '2020-12-14 21:08:38.750381', 199, 995.0, 'Прихід')
('3177412', '2020-12-11 21:08:39.377107', 199, 150.0, 'Прихід')

In [54]:
script_9 = """
SELECT part, SUM(qty)
FROM 
    (SELECT part, SUM(qty) as qty
    FROM Stock
    WHERE operation_type = 'Прихід' and operation_date < '2021-01-01'
    GROUP BY part
    

    UNION 

    SELECT part, -SUM(qty)
    FROM Stock
    WHERE operation_type = 'Розхід' and  operation_date < '2021-01-01'
    GROUP BY part)
GROUP BY part
"""
result(script_9)

('1297', 59)
('16762', 133)
('1955', 304)
('198742', 232)
('2217672', -29)
('3177412', 470)
('32237', 233)
('33486', 645)
('3593', 296)
('375738', 653)
('4165215', 718)
('439226', 402)
('455799', 604)
('4738184', 690)
('51561', 345)
('5218', 319)
('5227876', 914)
('5656841', -11)
('61169', 396)
('6651824', 379)
('68183', 622)
('682645', 444)
('7143174', 405)
('726319', 528)
('7435', -19)
('78747', 330)
('789868', 506)
('797756', 669)
('8362626', 740)
('88255', 272)
('91897', 130)
('9354141', 344)
('991645', -75)

In [57]:
script_9 = """
SELECT part, SUM(qty)
FROM 
    (SELECT part, SUM(qty) as qty
    FROM Stock
    WHERE operation_type = 'Прихід' 
    GROUP BY part
    

    UNION 

    SELECT part, -SUM(qty)
    FROM Stock
    WHERE operation_type = 'Розхід' 
    GROUP BY part)
    
GROUP BY part
HAVING SUM(qty) > 1000
"""
result(script_9)

('1955', 1342)
('33486', 1204)
('375738', 1385)
('4165215', 1121)
('455799', 1101)
('4738184', 1347)
('5227876', 1367)
('68183', 1088)
('682645', 1214)
('797756', 1473)

In [72]:
script_10 = """
SELECT *
FROM Stock
WHERE operation_type = 'Прихід'  AND part =  (SELECT Part
    FROM 
        (SELECT Part, MAX(qty)
        FROM 
            (SELECT part, SUM(qty) as qty
            FROM 
                (SELECT part, SUM(qty) as qty
                FROM Stock
                WHERE operation_type = 'Прихід' 
                GROUP BY part


                UNION 

                SELECT part, -SUM(qty)
                FROM Stock
                WHERE operation_type = 'Розхід' 
                GROUP BY part)

            GROUP BY part)))

"""
result(script_10)

('797756', '2021-01-06 21:08:38.403122', 187, 150.0, 'Прихід')
('797756', '2020-12-14 21:08:38.419080', 180, 150.0, 'Прихід')
('797756', '2020-12-20 21:08:38.429372', 186, 150.0, 'Прихід')
('797756', '2021-01-15 21:08:38.439421', 121, 150.0, 'Прихід')
('797756', '2020-12-17 21:08:38.450331', 176, 150.0, 'Прихід')
('797756', '2020-12-19 21:08:38.458812', 138, 150.0, 'Прихід')
('797756', '2021-01-08 21:08:38.467777', 152, 150.0, 'Прихід')
('797756', '2021-01-01 21:08:38.476758', 160, 150.0, 'Прихід')
('797756', '2021-01-09 21:08:38.485785', 199, 150.0, 'Прихід')

In [76]:
script_11 = """
SELECT strftime('%Y', operation_date), strftime('%m', operation_date),  SUM(qty)
FROM Stock
WHERE operation_type = 'Розхід'
GROUP BY strftime('%Y', operation_date), strftime('%m', operation_date)
"""
result(script_11)

('2020', '12', 910)
('2021', '01', 1041)

In [78]:
script_12 = """
SELECT t1.part, SUM(t1.qty), t2.weight * SUM(t1.qty)
FROM 
    (SELECT part, SUM(qty) as qty
    FROM Stock
    WHERE operation_type = 'Прихід' 
    GROUP BY part
    

    UNION 

    SELECT part, -SUM(qty)
    FROM Stock
    WHERE operation_type = 'Розхід' 
    GROUP BY part) as t1
INNER JOIN Product as t2 ON t1.part = t2.part
    
GROUP BY t1.part
HAVING SUM(t1.qty) > 1000
"""
result(script_12)

('1955', 1342, 1342.0)
('33486', 1204, 1204.0)
('375738', 1385, 13850.0)
('4165215', 1121, 11210.0)
('455799', 1101, 1101.0)
('4738184', 1347, 4041.0)
('5227876', 1367, 13670.0)
('68183', 1088, 1088.0)
('682645', 1214, 3642.0)
('797756', 1473, 1473.0)